{% extends 'layout/app.twig' %}

{% block title %}My app {% endblock %}



{% block content %}
   <div class="row h-100 bg-info">
       <div class="col justify-content-center align-self-center">
           <a href="add-road" class="btn btn-warning mb-3 p-3 w-100">Dodaj trasę</a>
           <a href="roads" class="btn btn-warning mb-3 p-3 w-100">Przeglądaj trasy</a>
       </div>
   </div>
{% endblock %}